name: Publish Packages

on:
  push:
    branches:
      - master

jobs:
  publish-to-npm:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: nrwl/nx-set-shas@v3
        with:
          main-branch-name: 'master'
      - uses: fregante/setup-git-user@v2
      # - run: git config --global user.email "webmaster@rovacc.ro"
      # - run: git config --global user.name "Github Action"
      - run: npm ci

      - name: Formt Check
        run: npx nx format:check

      - name: Lint
        run: npx nx affected --target=lint --parallel=1

      - name: Build
        run: npx nx affected --target=build --parallel=1

      - name: Test
        run: npx nx affected --target=test --parallel=1

      - name: Create version and publish
        run: npx nx affected --target=version --parallel=1

      - name: Push to repo
        run: git push https://${{ secrets.GH_PAT_WEBMASTER }}@github.com/ROvACC/rovacc-nodejs-packages.git HEAD:master
